apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: banking-system
  labels:
    app: prometheus
spec:
  type: ClusterIP
  ports:
    - port: 9090
      targetPort: 9090
      protocol: TCP
      name: http
  selector:
    app: prometheus
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-nodeport
  namespace: banking-system
  labels:
    app: prometheus
spec:
  type: NodePort
  ports:
    - port: 9090
      targetPort: 9090
      nodePort: 30900
      protocol: TCP
      name: http
  selector:
    app: prometheus
