apiVersion: v1
kind: Service
metadata:
  name: transfers-api
  namespace: banking-system
  labels:
    app: transfers-api
spec:
  type: NodePort
  ports:
  - port: 8081
    targetPort: 8081
    nodePort: 30081
    protocol: TCP
    name: http
  selector:
    app: transfers-api
