# PVC para SQLite de accounts-api (ReadWriteOnce compatible con k3d/kind).
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: accounts-data-pvc
  namespace: banking-system
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
