apiVersion: v1
kind: Service
metadata:
  name: accounts-api
  namespace: banking-system
  labels:
    app: accounts-api
spec:
  type: NodePort
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30080
    protocol: TCP
    name: http
  selector:
    app: accounts-api
